{% extends 'index.html' %}
{% block body %} 
    <div class="divestudiante">
        <div class="divtexto2">
            <h1>Contanos, ¿Cómo hacés para llegar a la facu?</h1>
        </div>
        <div class="divtexto3">
            <form method="post">
                {% csrf_token %}
                {%if not estudiante%}
                <h2>Cantidad de colectivos</h2>
                <div class="form-group">
                    {{ form.cantidad_bondis }}
                </div>
                <h2>Cantidad de trenes</h2>
                <div class="form-group">
                    {{ form.cantidad_trenes }}
                </div>
                <h2>Cantidad de subtes</h2>
                <div class="form-group">
                    {{ form.cantidad_subtes }}
                </div>
                <h2>Cantidad de días:</h2>
                <div class="form-group">
                    {{ form.cantidad_dias }}
                </div>
                <br></br>
                <button type="submit" class="button_slide slide_right">Guardar</button>
                {%endif%}
            </form>
            {% if dias == 0 %}
                <div class="error">Algo salió mal, volvé a la página anterior y corroborá que estén todas las casillas completas y que cantidad días no sea 0</div>
            {% endif %}
            {% if estudiante %}
                <div class="resultados">
                    <h2>Esto vas a gastar por mes</h2>
                {%if costo_total_bondis%}
                <p> En colectivos : ${{ costo_total_bondis }}</p>
                {%endif%}
                {%if costo_total_trenes%}
                <p> En trenes : ${{ costo_total_trenes }}</p>
                {%endif%}
                {%if costo_total_subtes%}
                <p> En subte : ${{ costo_total_subtes }}</p>
                {%endif%}
                {%if costo_total%}
                <p> En total : ${{ costo_total }}</p>
                {%endif%}
                {% if image_base64 %}
                    <div class="grafico">
                        <img src="data:image/png;base64,{{ image_base64 }}" alt="Grafico de comparación">
                    </div>
                {% endif %}
            {%endif%}
            </div>
        </div>
    </div>
{% endblock body %}





   