{% extends 'index.html' %}
{% block body %} 
    <div class="divestudiante">
        <div class="divtexto2">
            <h1>Contanos, ¿Cómo hacés para llegar a la facu?</h1>
        </div>
        <div class="divtexto3">
            <form method="post">
                {% csrf_token %}
                {%if not estudiante%}
                <h2>Cantidad de colectivos</h2>
                <div class="form-group">
                    {{ form.cantidad_bondis }}
                </div>
                <h2>Cantidad de trenes</h2>
                <div class="form-group">
                    {{ form.cantidad_trenes }}
                </div>
                <h2>Cantidad de subtes</h2>
                <div class="form-group">
                    {{ form.cantidad_subtes }}
                </div>
                <h2>Cantidad de días:</h2>
                <div class="form-group">
                    {{ form.cantidad_dias }}
                </div>
                <br></br>
                <button type="submit" class="button_slide slide_right">Guardar</button>
                {%endif%}
            </form>
            {% if dias == 0 %}
                <div class="error">Algo salió mal, volvé a la página anterior y corroborá que estén todas las casillas completas y que cantidad días no sea 0</div>
            {% endif %}
            {% if estudiante %}
                <div class="resultados">
                    <h2>Esto vas a gastar por mes</h2>
                {%if costo_total_bondis%}
                <h3> En colectivos : ${{ costo_total_bondis }}</h3>
                {%endif%}
                {%if costo_total_trenes%}
                <h3> En trenes : ${{ costo_total_trenes }}</h3>
                {%endif%}
                {%if costo_total_subtes%}
                <h3> En subte : ${{ costo_total_subtes }}</h3>
                {%endif%}
                {%if costo_total%}
                <h3> En total : ${{ costo_total }}</h3>
                {%endif%}
            {%endif%}
            <h1>Firmá por el Boleto Educativo en la Ciudad de Buenos Aires</h1>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdcS7orlZOscgb15Q-gVzq4iiu-J-kwmwL5cE8I5lVtUh9hAw/viewform">  <div class="button_slide slide_right">Firmá acá</div></a>
            </div>
        </div>
    </div>
{% endblock body %}





   